@using NetMud.DataStructure.Base.Supporting

@model NetMud.Models.Admin.AddEditFloraViewModel

@{
    <label class="control-label">Occurs in Biome</label>
    <a href="#" id="addOccursInRow" class="addRow">Add another row...</a>
    <div id="occursInRow">
        @if (Model == null || Model.OccursIn == null || Model.OccursIn.Count() == 0)
        {
            <div class="form-group three-column">
                <a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>
                <label class="control-label" for="OccursIn">&nbsp;</label>
                <div>
                    @Html.DropDownList("OccursIn", Enum.GetNames(typeof(Biome)).Select(rl =>
                                                                                    new SelectListItem() { Text = rl, Value = rl })
                                                                                    , htmlAttributes: new { id = "OccursIn", @class = "form-control" })
                </div>
            </div>
        }
        else
        {
            foreach (var occursIn in Model.OccursIn)
            {
                <div class="form-group three-column">
                    <a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>
                    <label class="control-label" for="OccursIn">&nbsp;</label>
                    <div>
                        @Html.DropDownList("OccursIn", Enum.GetNames(typeof(Biome)).Select(rl =>
                                                                              new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(Biome), rl)).ToString(), Selected = (Biome)Enum.Parse(typeof(Biome), rl) == occursIn })
                                                                                    , htmlAttributes: new { id = "OccursIn", @class = "form-control" })
                    </div>
                </div>
            }
        }
    </div>
}


<script type="text/javascript">
    var occursInDropdown = decodeHtml('@Html.DropDownList("OccursIn", Enum.GetNames(typeof(Biome)).Select(rl => new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(Biome), rl)).ToString() }), htmlAttributes: new { id = "OccursIn", @class = "form-control" }).ToString().Replace(Environment.NewLine, "")');

    $(document).ready(function () {
        $("#addOccursInRow").click(function () {
            $("#occursInRow").append(
                '<div class="form-group three-column">' +
                '<a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>' +
                '<label class="control-label" for="OccursIn">&nbsp;</label>' +
                '<div>' + occursInDropdown + '</div></div>'
            );

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
            return false;
        });

        $(".removeRow").click(function () {
            $(this).parent().remove();
            return false;
        });
    });
</script>