@model NetMud.Models.Admin.AddEditFloraViewModel

    @{
        <label class="control-label">Internal composition</label>
        <a href="#" id="addOccursInRow" class="addRow">Add another row...</a>
        <div id="occursInRow">
            @if (Model.DataObject == null || Model.DataObject.OccursIn == null || Model.DataObject.OccursIn.Count() == 0)
            {
                <div class="form-group three-column">
                    <a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>
                    @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("OccursIn", "Material", Model.ValidMaterials, -1))
                </div>
            }
            else
            {
                foreach (var occursIn in Model.DataObject.OccursIn)
                {
                    <div class="form-group three-column">
                        <a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>
                        @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("OccursIn", "Material", Model.ValidMaterials, occursIn.ID))
                    </div>
                }
            }
        </div>
    }


    <script type="text/javascript">
        var occursInDropdown = decodeHtml('@Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("OccursIn", "Material", Model.ValidMaterials, -1)).ToString().Replace(Environment.NewLine, "")');

        $(document).ready(function () {
            $("#addOccursInRow").click(function () {
                $("#occursInRow").append(
                    '<div class="form-group three-column">' +
                    '<a href="#" class="removeRow" id="removeOccursInRow" title="Remove this">X</a>' +
                    occursInDropdown + '</div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });
    </script>