#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
packages
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
bin/
[Rr]elease*/
_ReSharper*/
NetMud.Data/bin/*
NetMud.Interp/bin/*
NetMud.Utility/obj/*
NetMud/App_Data/testingDB.mdf
NetMud/App_Data/testingDB_log.ldf
NetMud/Web.config
.vs/config/applicationhost.config
NetMud.Interp/obj
NetMud/FileStore/Logs/*
NetMud/FileStore/*/Backups/
*Backups*/
*.mdf
*.ldf
/.vs/NetMud/v15/Server/sqlite3
