@model NetMud.Data.Gaia.Chronology
<div>
    <span>Hours per Day</span>
    <span>@Html.DisplayFor(m => m.HoursPerDay)</span>
</div>
<div>
    <span>Days per Month</span>
    <span>@Html.DisplayFor(m => m.DaysPerMonth)</span>
</div>
<div>
    <span>Months</span>
    <span>@string.Join(",", Model.Months)</span>
</div>