@model NetMud.Data.Administrative.Help

@{ 
    var subject = Model.Name;
    var body = string.Join(Environment.NewLine, Model.RenderHelpBody());
}

<div class="helpItem">
    <h2>@subject</h2>
    <hr />
    <div style="text-align: left;">
        @Html.Raw(body)
    </div>
</div>