@model NetMud.Models.Admin.OccurrenceViewModel

<div class="form-group row">
    @Html.EditorFor(e => e.Strength)
</div>

@Html.Partial("~/Views/Shared/Lexica.cshtml", new Tuple<NetMud.Models.Admin.LexicaViewModel, int>(Model, 0))