@model long

<div>
    <button type="submit" name="ID" id="ID" class="removeData" value="@Model" title="Delete this"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <input type="radio" name="authorize" value="@Model" style="margin-left: 15px;" />
</div>