@model long

<div>
    <button type="submit" name="removeId" id="removeId" class="removeData" value="@Model" title="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <input type="radio" name="authorizeRemove" value="@Model" style="margin-left: 15px;" />
</div>