@model NetMud.Models.SubmitButtonModel

<div class="form-group row submitButtons">
    <div>
        <input type="submit" value="@Model.SubmitName" class="btn btn-default save" />
        @if (Model.IncludeCancel)
        {
            @Html.ActionLink(Model.CancelName, Model.ReturnAction, Model.ReturnController, new { @class = "btn btn-default cancel" })
        }
    </div>
</div>