@model long

<div>
    <button type="submit" name="unapproveId" id="unapproveId" class="unapproveData" value="@Model" title="Unapprove"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></button>
    <input type="radio" name="authorizeUnapprove" value="@Model" style="margin-left: 15px;" />
</div>