@model NetMud.Models.Admin.AddEditStratumViewModel

@{
    <div class="form-group two-column">
        @Html.EditorFor(m => layerName)
        @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("Rock", "Rock", Model.MaterialsList, Model.BaseMaterial.ID))
    </div>
    
    <div class="form-group two-column">
        @Html.EditorFor(m => m.LowerDepths)
        @Html.EditorFor(m => m.UpperDepths)
    </div>

}