@model NetMud.Models.Admin.AddEditWorldViewModel

@{
    <label class="control-label">Strata</label>
    <a href="#" id="addStratumRow" class="addRow">Add another row...</a>
    <div id="StratumRows">
        @if (Model.DataObject == null || Model.DataObject.Strata == null || Model.DataObject.Strata.Count == 0)
        {
            <div>
                <a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>
                @Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", new NetMud.Models.Admin.AddEditStratumViewModel(null))
            </div>
        }
        else
        {
            foreach (var Stratum in Model.DataObject.Strata)
            {
                <div>
                    <a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>
                    @Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", new NetMud.Models.Admin.AddEditStratumViewModel(Stratum))
                </div>
            }
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#addStratumRow").click(function () {
            $("#StratumRows").append(
                '<div>' +
                '<a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>' +
                decodeHtml('@Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", new NetMud.Models.Admin.AddEditStratumViewModel(null)).ToString().Replace(Environment.NewLine, "")') +
                '</div>'
            );

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
            return false;
        });

        $(".removeRow").click(function () {
            $(this).parent().remove();
            return false;
        });
    });
</script>