@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Who We Are", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<iframe width="560" height="315" src="https://www.youtube.com/embed/I3GA2EyQHBM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<div class="informationalGroup">
    <p>
        Seriously though, I like Stardew Valley. I like multiplayer stardew valley but hate having to coordinate my time around other people I know who play stardew valley. I also want <strong>more</strong>
        stardew valley. This gets me all of those minus the graphics, and Pam of course. Someone can remake Pam in hmr if they want.
    </p>
</div>