@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Who We Are", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes">
        <p>
            That which is in locomotion must arrive at the half-way stage before it arrives at the goal.

            — as recounted by Aristotle, Physics VI:9, 239b10
        </p>
    </a>
</div>