@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Who We Are", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <p>
        Demo site for Warrens.
    </p>
</div>