@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("The World", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <h4>Movement</h4>
    <p>
        There are two ways to move. FORWARD and BACKWARD. Your goal is to reach the exit 20 meters across the room. FORWARD gets you closer to the door. BACKWARD is the opposite.
    </p>
</div>
<div class="informationalGroup">
    <h4>Communication</h4>
    <p>
        You can SAY and SHOUT things to other people in the room. You may also use GOSSIP to talk to players on other MUDs.
    </p>
</div>
<div class="informationalGroup">
    <h4>Combat</h4>
    <p>
        The only other thing to do aside from talking and moving is fighting. You can fight yourself using SHADOWBOX or another player using FIGHT. You can stop fighting using PEACE.
    </p>
</div>