@model NetMud.Models.Features.ZonesViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Zones", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Zones", "Features", FormMethod.Post, new { id = "paginationForm" }))
{
    <div class="itemsTable">
        <div class="itemsTableList">
            @Html.DisplayFor(m => m.Items)
        </div>
        <div class="itemsTableSidebar">
            <div class="sideBarFilter">
                <div class="form-group row">
                    @Html.EditorFor(m => m.SearchTerm, new { columnCount = 1 })
                </div>
                <div class="form-group row submitButtons">
                    <input type="submit" value="Search" class="btn btn-default save" />
                </div>
            </div>
        </div>
    </div>
}