@using NetMud.DataStructure.Gaia

@model IGaia

@{
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("Role", obj => string.Format("<a href='#' class='editDescriptive' data-descriptive-type='{1}' data-descriptive-phrase='{2}'>{0}</a>", obj.Event.Role, (short)obj.Event.Role, obj.Event.Phrase));
    tableColumns.Add("Phrase", obj => obj.Event.Phrase);
    tableColumns.Add("Type", obj => obj.Event.Type.ToString());
    tableColumns.Add("Strength", obj => obj.Strength.ToString());
    tableColumns.Add("Sensory", obj => obj.SensoryType.ToString());
    tableColumns.Add("DELETE", obj =>
    string.Format("<div></div>"
               + "<button type='submit' name='id' id='id' class='removeData' value='{0}' title='Delete this'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>"
               + "<input type='radio' name='authorize' value='{1}|||{2}' style='margin-left: 15px;' />", Model.BirthMark, obj.Event.Role.ToString(), obj.Event.Phrase));
}

<h4>Descriptive Features</h4>
<a href="#" id="addNewDescriptive" title="Add New"><span class="glyphicon-plus-sign glyphicon addNew" style="color: green;"></span></a>
@Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { IncludeAddLink = false, IncludeBasicPagingandSearch = false, EntityTypeName = "LiveAdmin/World/SensoryEvent", Columns = tableColumns, Values = Model.Descriptives, IncludeDelete = false, IncludeUnapprove = false })

<script>
        $(document).ready(function () {
            $('#addNewDescriptive').click(function () {
                openFrameless(1400, 900, 0, 0, "/LiveAdmin/World/AddEditDescriptive/?birthMark=" + '@Model.BirthMark' + '&descriptiveType=-1', 'Add Descriptive', true);

                return false;
            });

            $('.editDescriptive').click(function () {
                openFrameless(1400, 900, 0, 0, "/LiveAdmin/World/AddEditDescriptive/?birthMark=" + '@Model.BirthMark'
                    + '/' + $(this).attr('data-descriptive-type')
                    + '/' + $(this).attr('data-descriptive-phrase'), 'Edit Descriptive', true);

                return false;
            });
        });
</script>