@model NetMud.Models.Admin.AddEditGaiaViewModel

<h3>Celestial Bodies</h3>
<a href="#" id="addCelestialsRow" class="addRow">Add another row...</a>
<div id="CelestialsRows">
    @if (Model.DataObject == null || Model.DataObject.CelestialBodies == null || Model.DataObject.CelestialBodies.Count() == 0)
    {
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeCelestialsRow" title="Remove this">X</a></label>
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("CelestialBodies", "Celestial", Model.ValidCelestials, -1))
        </div>
    }
    else
    {
        foreach (var celestial in Model.DataObject.CelestialBodies)
        {
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeCelestialsRow" title="Remove this">X</a></label>
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("CelestialBodies", "Celestial", Model.ValidCelestials, celestial.Id))
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var celestialDropdown = decodeHtml('@Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("CelestialBodies", "Celestial", Model.ValidCelestials, -1)).ToString().Replace(Environment.NewLine, "")');

        $("#addCelestialsRow").click(function () {
            $("#CelestialsRows").append(
                '<div class="form-group row">' +
                '<label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeCelestialsRow" title="Remove this">X</a></label>' +
                celestialDropdown +
                '</div>'
            );

            $(".removeRow").click(function () {
                $(this).parent().parent().remove();
                return false;
            });
            return false;
        });

        $(".removeRow").click(function () {
            $(this).parent().parent().remove();
            return false;
        });
    });
</script>