@model NetMud.Models.Admin.ManageGaiaViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Worlds", new string[] { "Dashboard" }, new string[] { "/GameAdmin" });

    var linkText = Html.ActionLink("99999999", "Edit", new { id = 99999999 }).ToString();
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("ID", obj => linkText.Replace("99999999", obj.Id.ToString()));
    tableColumns.Add("Name", obj => obj.FitnessProblems ? string.Format("<span style='color:red;' title='{0}'>{1}</span>", String.Join(", ", obj.FitnessReport()), obj.Name) : obj.Name);
    tableColumns.Add("Rotational Angle", obj => obj.RotationalAngle.ToString());
    tableColumns.Add("Hours Per Day", obj => obj.ChronologicalSystem.HoursPerDay.ToString());
    tableColumns.Add("Days Per Month", obj => obj.ChronologicalSystem.DaysPerMonth.ToString());
    tableColumns.Add("Starting Year", obj => obj.ChronologicalSystem.StartingYear.ToString());
    tableColumns.Add("State", obj => obj.State.ToString());
}

@Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { Columns = tableColumns, Values = Model.CurrentPageOfItems.OrderBy(obj => obj.Id), PagingModel = Model, EntityTypeName = "Gaia" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
