@model NetMud.Models.GameContextModel

@{
    ViewBag.Title = "WebSockets Client";
}

<div class="textParserClient">
    <div id="OutputArea" class="parserOutput"></div>
    <input type="text" id="input" name="input" class="parserInput" />
</div>
<br/>
<br/>
<a href="./GameClient" id="clientReload">Reload Client</a>
@Styles.Render("~/Content/GameClient.css")
@Scripts.Render("~/Scripts/WebSocketsClient.js")
