@model NetMud.Models.GameContextModel

@{
    ViewBag.Title = "";
}

<div class="parserClient">
    <div class="parserClientLeft">
    </div>
    <div class="parserClientRight">
    </div>
    <div class="textParserClient">
        <div id="OutputArea" class="parserOutput"></div>
        <input type="text" id="input" name="input" class="parserInput" />
    </div>
    <a href="./GameClient" id="clientReload">Reload Client</a>
</div>
@Styles.Render("~/Content/GameClient.css")
@Scripts.Render("~/Scripts/WebSocketsClient.js")
