@using NetMud.DataAccess
@using NetMud.Models.PlayerManagement

@model ManageAccountViewModel

@{
    if (Model.DataObject.LogChannelSubscriptions.Count() == 0)
    {
        Model.DataObject.LogChannelSubscriptions.Add("");
    }
}

<h4>Log Subscriptions</h4>
<div id="logRows" class="iterativeContainer">
    <div class="addRowContainer">
        <div class="col-sm-1">
            @Html.DescriptionFor(m => m.LogChannels)
            <a href="#" class="addRow btn" onclick="javascript: $('#logRows').append(newLogSubRow); return false;"><span class="addWord">Add Row</span></a>
        </div>
    </div>
    @foreach (var subscription in Model.DataObject.LogChannelSubscriptions)
    {
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().remove(); return false;">X</a>
            <div class="col-md-2">
                @Html.DropDownList("LogChannels", Enum.GetNames(typeof(LogChannels))
                    .Select(name => new SelectListItem() {  Text = name, Value = name, Selected = name.Equals(subscription, StringComparison.InvariantCultureIgnoreCase) })
                    , "Select One", htmlAttributes: new { id = "LogChannels", @class = "form-control" })
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var newLogSubDropdown = decodeHtml('@Html.DropDownList("LogChannels", Enum.GetNames(typeof(LogChannels)).Select(rl =>
                                                    new SelectListItem() { Text = rl, Value = rl }), "Select One",
                                                    htmlAttributes: new { id = "LogChannels", @class = "form-control" }).ToString().Replace(Environment.NewLine, "")');

    var newLogSubRow =
        '<div class="form-group row">' +
        '<a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().remove(); return false;">X</a>' +
        '<div class="col-md-2">' + newLogSubDropdown + '</div></div>';
</script>