@model NetMud.Models.PlayerManagement.AddEditPlaylistViewModel

@{
    var songList = new HashSet<string>();
    if (Model.DataObject == null || Model.DataObject.Songs?.Count() == 0)
    {
        songList.Add("");
    }
    else
    {
        songList = Model.DataObject.Songs;
    }
}

<h4>Songs</h4>
<div id="songRows" class="iterativeContainer">
    <div class="addRowContainer">
        <div>
            @Html.DescriptionFor(m => m.SongList)
            <a href="#" class="addRow btn" onclick="javascript: addSongRow(); return false;"><span class="addWord">Add Row</span></a>
        </div>
    </div>
    @foreach (var song in songList)
    {
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().parent().parent().remove(); return false;">X</a>
            <div class="col-md-2">
                @Html.DropDownList("SongList", Model.ValidSongs.Select(vSong => new SelectListItem() { Text = vSong.Key, Value = vSong.Value, Selected = vSong.Value.Equals(song, StringComparison.InvariantCultureIgnoreCase) })
                    , "Select One", htmlAttributes: new { id = "SongList", @class = "form-control" })
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var newDropdown = decodeHtml('@Html.DropDownList("SongList", Model.ValidSongs.Select(vSong =>
                                                    new SelectListItem() { Text = vSong.Key, Value = vSong.Value }), "Select One",
                                                    htmlAttributes: new { id = "SongList", @class = "form-control" }).ToString().Replace(Environment.NewLine, "")');

    var newRow =
        '<div class="form-group row">' +
        '<a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().remove(); return false;">X</a>' +
        '<div class="col-md-2">' + newDropdown + '</div></div>';

    function addSongRow() {
        $('#songRows').append(newRow);
    }
</script>