<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.WebSockets" version="0.2.3.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net46" />
</packages>