body {
    padding-bottom: 20px;
}

.body-content {
    background-image: url(/Content/images/farmBkg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    padding: 20px;
}

.selected {
    background-image: linear-gradient(to bottom, lightgreen, lightgreen);
    background-clip: content-box;
}

.keyLegend {
    display: none;
    position: absolute;
    width: 15%;
    border: 2px solid black;
    border-radius: 5px;
    left: 84%;
}

    .keyLegend.expanded {
        display: inline;
    }

.parserClientTop {
    padding: 5px 0;
    background: black;
    color: whitesmoke;
    min-height: 100px;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 9px 9px 0 0;
    border: 4px darkgray groove;
    border-bottom: none;
}

    .parserClientTop #locationBreadcrumbs {
        display: inline-flex;
        font: 400 24px/1.3 'Berkshire Swash', Helvetica, sans-serif;
        color: lightsteelblue;
        text-shadow: 1px 1px 0 slategray, 4px 4px 0 rgba(0,0,0,0.15);
        margin-bottom: 3px;
        width: 60%;
    }

    .parserClientTop #locationDescription {
        display: inline-block;
        font-size: 14px;
        width: 60%;
    }

    .parserClientTop .rightNav {
        float: right;
        padding-right: 5px;
        font-size: 18px;
    }

        .parserClientTop .rightNav a span {
            color: blue;
        }

.parserClient {
    padding-bottom: 0;
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    border: 4px darkgray groove;
    height: 775px;
    max-width: 1280px;
    margin: 0 auto;
    background: black;
    border-radius: 0 0 9px 9px;
}

    .parserClient .textParserClient {
        font-family: Courier New, Courier, monospace;
        max-width: 1275px;
        height: 75%;
        overflow-y: hidden;
    }

    .parserClient .parserClientOutput {
        border-top: 4px darkgray groove;
        height: 22.5%;
        padding: 10px;
        overflow-y: scroll;
        color: white;
    }

.text-output {
    position: absolute;
}

.parserOutput {
    width: 100%;
    overflow: hidden;
    padding: 0 5px 0 5px;
    vertical-align: bottom;
    text-align: left;
    z-index: 999;
}

    .parserOutput p {
        margin-top: 0;
        margin-bottom: 0;
    }

.parserInput {
    background-color: white;
    color: black;
    width: 100%;
    max-width: inherit;
    font-family: Courier New, Courier, monospace;
    border-top: 1px gray solid;
}

.parserControls {
    position: relative;
    left: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 1280px;
}

    .parserControls a {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

        .parserControls a img {
            width: 32px;
            height: 32px;
            padding-top: 5px;
        }

a.dropdown-toggle {
    float: right;
}

ul.nav li a img {
    width: 28px;
    height: 28px;
}

#clearInput {
    color: red;
}

ul.nav li input {
    margin-top: 20px;
    color: black;
}

    ul.nav li input[type=checkbox] {
        margin-top: 25px;
        margin-right: 50px;
    }

ul.nav li label {
    display: inline-block;
    margin-right: 5px;
}

#personaLabel {
    color: red;
    padding-top: 22px;
    margin-right: 15px;
}

    #personaLabel.button {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: yellow;
        display: inline-block;
        text-decoration: none;
        font-weight: 200;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 0.5em 1em;
        background-image: -moz-linear-gradient(top, white, #9d9d9d);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#9d9d9d));
        background-image: -webkit-linear-gradient(top, white, #9d9d9d);
        background-image: -o-linear-gradient(top, white, #9d9d9d);
        background-image: linear-gradient(to bottom, white, #9d9d9d);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        font-size: 14px;
        line-height: 1.42857143;
        white-space: nowrap;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 15px;
        margin-right: 15px;
    }

        #personaLabel.button.activated {
            color: green;
        }

a.entityInfo {
    color: lightgreen;
}

ul.animated-list {
    display: inline;
    padding: unset;
}

    ul.animated-list li {
        display: inline;
        padding: unset;
    }


.dockable {
    color: blue;
    padding-top: 3px;
    left: 7px;
}

.dockingMenu {
    border: black solid 1px;
    top: 20px !important;
}

.moduleMenuItem {
    padding: 5px;
    color: black;
}

    .moduleMenuItem:disabled {
        color: dimgrey;
    }

    .moduleMenuItem span {
        padding-right: 5px;
    }

.moduleNameFinder {
    color: black;
    padding: 1px;
}

.contentContainer h4 {
    font-size: 14px;
    color: blueviolet;
}

.contentContainer pre {
    color: white;
}

.tile {
    height: 21px;
    width: 21px;
    display: inline-flex;
    vertical-align: middle;
    overflow: hidden;
    line-height: .8;
    font-size: 14px;
    padding-left: 2px;
    cursor: help;
    text-align: center;
}

    .tile span {
        margin: auto;
    }

.statusIndicators {
    float: left;
    margin: 0;
    width: 10%;
    height: 95px;
}

    .statusIndicators > div:not(.tooltip) {
        width: 45%;
        height: 45%;
        float: left;
    }

        .statusIndicators > div:not(.tooltip) svg {
            width: 100%;
            height: 100%;
        }

.statusBars {
    width: 100%;
    min-height: 20px;
    border-top: 4px darkgray groove;
    display: inline-flex;
}

    .statusBars > div {
        width: 50%;
    }

        .statusBars > div:first-child {
            text-align: center;
            border-right: 4px darkgray groove;
        }

    .statusBars div.health {
        color: navajowhite;
        background-color: indianred;
    }

    .statusBars div.stamina {
        color: indianred;
        background-color: navajowhite;
    }

    .statusBars .inventoryItem {
        border: 1px white solid;
        height: 50%;
        width: 2%;
        vertical-align: middle;
        overflow: hidden;
        line-height: .8;
        font-size: 14px;
        cursor: help;
        text-align: center;
    }

        .statusBars .inventoryItem.selected {
            border: 1px navajowhite solid;
        }

        .statusBars .inventoryItem span {
            margin: auto;
        }

    .statusBars .inventoryContainer {
        float: right;
        display: inline-flex;
        width: 100%;
    }

    .statusBars .qualityItem {
        border: 1px blue solid;
        height: 13px;
        width: 4%;
        vertical-align: middle;
        overflow: hidden;
        font-size: 10px;
        text-align: center;
        border-radius: 9px;
        background-color: powderblue;
        color: black;
        font-weight: 900;
    }

        .statusBars .qualityItem span {
            margin: auto;
        }

.inputContainer {
    padding-bottom: 3px;
    width: 1275px;
    margin: auto;
}

.useList {
    margin: 2px;
    display: none;
    background-color: lightgray;
}

    .useList span {
        background-color: navajowhite;
        color: indianred;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid floralwhite;
        padding: 2px;
        margin: 2px 5px 2px 2px;
    }

        .useList span:first-child {
            background-color: inherit;
            color: black;
            border: none;
            margin: 2px 5px 2px 2px;
            border-radius: 0;
        }
