/*Experimental*/
body {
    padding-bottom: 20px;
}

.navbar-brand {
    padding: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 1340px;
    max-width: 1340px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.selected {
    background-image: linear-gradient(to bottom, lightgreen, lightgreen);
    background-clip: content-box;
}

.parserClientTop {
    padding: 5px 0;
    background: black;
    color: whitesmoke;
    width: 1280px;
}

    .parserClientTop #locationBreadcrumbs {
        display: inline-flex;
        font: 400 24px/1.3 'Berkshire Swash', Helvetica, sans-serif;
        color: lightsteelblue;
        text-shadow: 1px 1px 0 slategray, 4px 4px 0 rgba(0,0,0,0.15);
        margin-bottom: 3px;
        width: 80%;
        margin-left: 10%;
    }

    .parserClientTop #locationDescription {
        display: inline-flex;
        font-size: 14px;
        width: 80%;
        margin-left: 10%;
    }

.parserClient {
    position: relative;
    padding-bottom: 0;
    height: 750px;
    width: 1280px;
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    background: lightgray;
    border: 1px black solid;
}

    .parserClient .textParserClient {
        background-color: black;
        font-family: Courier New, Courier, monospace;
        height: 750px;
        width: 80%;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
        float: left;
        border-top: 1px dotted white;
    }

    .parserClient .sidebar {
        position: relative;
        padding: 0 10px;
        width: 10%;
        height: 100%;
        overflow-wrap: break-word;
        overflow-x: hidden;
    }

    .parserClient .parserClientLeft {
        float: left;
    }

    .parserClient .parserClientRight {
        float: right;
    }

    .parserClient .sidebar .quadrant {
        height: 50%;
        width: 100%;
    }

.text-output {
    position: absolute;
}

.parserOutput {
    color: white;
    height: 96%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    padding: 5px;
    vertical-align: bottom;
    text-align: left;
    z-index: 999;
}

    .parserOutput p {
        margin-top: 0;
        margin-bottom: 0;
    }

.parserInput {
    background-color: white;
    color: black;
    width: 100%;
    max-width: inherit;
    font-family: Courier New, Courier, monospace;
    margin-top: 8px;
    border-top: 1px gray solid;
}

.parserControls {
    position: relative;
    left: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 1280px;
}

    .parserControls a {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

        .parserControls a img {
            width: 32px;
            height: 32px;
            padding-top: 5px;
        }

    .parserControls #clientReload {
        float: right;
    }

ul.nav li a img {
    width: 28px;
    height: 28px;
}

#clearInput {
    color: red;
}

#clientReload {
    color: yellow;
    float: right;
}

ul.nav li input {
    margin-top: 20px;
    color: black;
}

    ul.nav li input[type=checkbox] {
        margin-top: 25px;
        margin-right: 50px;
    }

ul.nav li label {
    display: inline-block;
    margin-right: 5px;
}

#personaLabel {
    color: red;
    padding-top: 22px;
    margin-right: 15px;
}

    #personaLabel.button {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: yellow;
        display: inline-block;
        text-decoration: none;
        font-weight: 200;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 0.5em 1em;
        background-image: -moz-linear-gradient(top, white, #9d9d9d);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#9d9d9d));
        background-image: -webkit-linear-gradient(top, white, #9d9d9d);
        background-image: -o-linear-gradient(top, white, #9d9d9d);
        background-image: linear-gradient(to bottom, white, #9d9d9d);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        font-size: 14px;
        line-height: 1.42857143;
        white-space: nowrap;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 15px;
        margin-right: 15px;
    }

        #personaLabel.button.activated {
            color: green;
        }

a.entityInfo {
    color: lightgreen;
}

ul.animated-list {
    display: inline;
    padding: unset;
}

    ul.animated-list li {
        display: inline;
        padding: unset;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
