footer {
    padding: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    max-width: 750px;
    max-height: 500px;
}

    textarea.logDisplay {
        width: 100%;
        height: 500px;
        max-height: 1000px;
        max-width: 1000px;
        margin-top: 20px;
    }


input[type=checkbox].form-control {
    margin: 9px;
    width: inherit;
    height: inherit;
}

.addData {
    color: green;
    cursor: pointer;
}

.editData {
    color: yellow;
    cursor: pointer;
}

a.addNew {
    float: left;
    margin-top: 30px;
}

a.addRow {
    padding: 10px;
}

button[type=submit].approveData {
    color: green;
    border: none;
    padding: 0;
    background-color: inherit;
}

button[type=submit].removeData {
    color: red;
    border: none;
    padding: 0;
    background-color: inherit;
}

button[type=submit].unapproveData {
    color: orange;
    border: none;
    padding: 0;
    background-color: inherit;
}

.btn.cancel {
    color: orange;
    border-color: red;
}

.btn.save {
    color: green;
    border-color: cadetblue;
}

.btn.caution {
    color: red;
    background-color: black;
    border-color: red;
}

.btn.stop {
    color: red;
    border-color: red;
}

.submitButtons {
    float: right;
    padding: 15px;
}

    .submitButtons input.save {
        margin-right: 15px;
    }

div.form-group a.removeRow {
    color: red;
    border: none;
    padding: 10px;
    background-color: inherit;
    float: left;
    position: absolute;
}

.dimModelPlane {
    display: inline-flex;
}

.dimModelNode {
    width: 14px;
    height: 26px;
    padding: 1px;
    background-color: black;
    color: chartreuse;
    text-align: center;
}

    .dimModelNode[data-value='0'] {
        color: darkgrey;
    }

.adminDashboard {
    padding: 10px;
    display: inline-table;
}

    .adminDashboard div {
        padding: 15px;
        float: left;
    }

/* Ascii maps for object dim models and room maps */
.asciiMap {
    font-family: Courier New, Courier, monospace;
    font-size: small;
    letter-spacing: 1px;
    padding: 15px;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    background-color: black;
}

.twoDModel {
    font-family: Courier New, Courier, monospace;
    font-size: small;
    letter-spacing: 0;
    padding: 15px;
    max-width: 400px;
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
    border: 5px solid grey;
}


div.roomAsciiMap {
    width: 100%;
}

.roomAsciiMap div {
    clear: both;
}

.roomAsciiMap p {
    float: right;
    display: inline-block;
}

    .roomAsciiMap p a {
        padding: 5px;
        cursor: pointer;
    }

        .roomAsciiMap p a.Up {
            color: green;
        }

        .roomAsciiMap p a.Down {
            color: red;
        }

.renderModeSelector {
    position: relative;
    float: right;
    color: yellow;
    left: -15px;
}

.searchCriteria {
    width: 100%;
    height: 70px;
    padding-bottom: 5px;
}

.tutorialToggle {
    font-weight: bold;
}

.helpTip {
    position: relative;
    top: -0.5em;
    color: blue;
    float: right;
    margin-left: -1px;
}

.contentPreviewFields div:nth-child(even) {
    background-color: lightcyan;
    margin: -15px 0 -15px 0;
    height: 15px;
}

.contentPreviewFields div:nth-child(odd) {
    background-color: lightgoldenrodyellow;
    margin: -15px 0 -15px 0;
    height: 15px;
}
