footer {
    padding: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 188px;
}

textarea {
    width: 100%;
    height: 500px;
    max-height: 1000px;
    margin-top: 20px;
}


input[type=checkbox].form-control {
    border: none;
    box-shadow: none;
    background: none;
    width: 20px;
}

.multiBox-3 {
    min-width: 54% !important;
}

.multiBox-2 {
    min-width: 36% !important;
}

    .multiBox-2 .helpTip {
        padding: 4px 1px 1px 18px;
    }

.multiBox > div {
    display: inline-flex;
    border: 1px solid dodgerblue;
    background: cornflowerblue;
    border-radius: 2px;
    width: 100%;
    justify-content: center;
}

.multiBoxUnit {
    margin: 5px;
    font-weight: 700;
    font-variant: small-caps;
    font-size: large;
}

.grapeLogo {
    max-height: 25px;
}

.addData {
    color: green !important;
    cursor: pointer;
}

.editData {
    color: yellow !important;
    cursor: pointer;
}

a.addNew {
    margin: 10px 0 10px 0;
}

a.addRow {
    padding: 0 15px 0 15px;
}

button[type=submit].approveData {
    color: green;
    border: none;
    padding: 0;
    background-color: inherit;
}

button[type=submit].removeData {
    color: red;
    border: none;
    padding: 0;
    background-color: inherit;
}

button[type=submit].unapproveData {
    color: orange;
    border: none;
    padding: 0;
    background-color: inherit;
}

.btn.cancel {
    color: orange;
    border-color: red;
}

.btn.save {
    color: green;
    border-color: cadetblue;
}

.btn.caution {
    color: red;
    background-color: black;
    border-color: red;
}

.btn.stop {
    color: red;
    border-color: red;
}

.submitButtons {
    padding: 25px;
}

    .submitButtons input.save {
        margin-right: 15px;
        min-width: unset;
    }

.dimModelPlane {
    display: inline-flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.dim-model-label {
    margin: 0;
}

.dim-model-name {
    padding: 0;
}

.dimModelNode {
    width: 14px;
    height: 24px;
    padding: 1px;
    background-color: black;
    color: chartreuse;
    text-align: center;
    cursor: pointer;
}

    .dimModelNode[data-value='0'] {
        color: darkgrey;
    }

.adminDashboard {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

    .adminDashboard div {
        flex: 1 1 auto;
        margin: 15px;
        padding: 5px;
    }


    .adminDashboard .dashboardItem dt {
        float: right;
    }

    .adminDashboard .dashboardItem dd {
        margin-right: 10px;
        margin-left: 0;
        float: left;
    }


.room {
    color: lightyellow !important;
}

    .room.isHere {
        color: indianred !important;
    }

.pathway {
    color: lightgoldenrodyellow !important;
}

    .pathway.zone {
        color: dodgerblue !important;
    }

    .pathway.locale {
        color: forestgreen !important;
    }

/* Ascii maps for object dim models and room maps */
.asciiMap {
    font-family: Courier New, Courier, monospace;
    font-size: small;
    letter-spacing: 1px;
    padding: 15px;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    background-color: black;
}

.twoDModel {
    font-family: Courier New, Courier, monospace;
    font-size: small;
    letter-spacing: 0;
    padding: 15px;
    max-width: 400px;
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
    border: 5px solid grey;
}

    .twoDModel a {
        text-decoration: none;
        color: chartreuse;
        cursor: pointer;
    }

        .twoDModel a:empty {
            color: darkgrey;
        }

div.roomAsciiMap {
    width: 100%;
}

.roomAsciiMap div {
    clear: both;
}

    .roomAsciiMap div.map {
        box-shadow: 0px 0px 5px 0px dodgerblue;
        border: 2px cornflowerblue;
    }

.zLevelControls {
    float: right;
    display: inline-flex;
    margin: 15px 0px 5px 15px;
}

    .zLevelControls div {
        box-shadow: 0px 0px 5px 1px lightgrey;
        border: 1px solid lightgray;
    }

    .zLevelControls .levelIndicator {
        font-size: larger;
        color: cornflowerblue;
        vertical-align: bottom;
    }

    .zLevelControls a {
        cursor: pointer;
    }

    .zLevelControls div a {
        padding: 5px;
    }

        .zLevelControls div a.Up {
            color: green;
        }

        .zLevelControls div a.Down {
            color: red;
        }


.renderModeSelector {
    color: dodgerblue;
    margin-right: 10px;
    font-size: large;
    padding: 0;
}

.searchCriteria {
    height: 70px;
}

    .searchCriteria div {
        display: flex;
        margin: 0 0 0 auto;
        width: fit-content;
    }

        .searchCriteria div div {
            flex: 1 1 auto;
            margin: 7px 3px;
            min-width: unset !important;
        }

            .searchCriteria div div.pager {
                margin: 10px 0 10px 0;
            }

.helpTip {
    position: absolute;
    top: 0;
    color: cornflowerblue;
    z-index: 101;
    font-size: 10px;
    padding: 4px 1px 1px 2px;
}

.ghostNameTip {
    position: absolute;
    color: black;
    left: 19px;
    top: -15px;
    font-size: 10px;
    font-style: italic;
    z-index: 101;
}

.ghostRequired {
    color: red;
}

.accordionWrapper h5 {
    font-weight: 700;
    border-radius: 9px;
    background-color: lightblue;
    box-shadow: 1px 1px 3px cornflowerblue;
}

.accordionWrapper.ghostRequired h5 {
    color: red;
}

.iterativeContainer .accordionWrapper .ui-accordion-header-collapsed {
    margin: 2px;
    background: lightgray;
    border: 1px solid black;
}

.contentPreviewFields div:nth-child(even) {
    background-color: lightcyan;
    margin: -15px 0 -15px 0;
    height: 15px;
}

.contentPreviewFields div:nth-child(odd) {
    background-color: lightgoldenrodyellow;
    margin: -15px 0 -15px 0;
    height: 15px;
}

.accordion-collapsed {
    min-height: 0;
    height: 1px;
    overflow-y: hidden
}

.topNavCollapser {
    width: 40px;
    margin-left: 48%;
    height: 10px;
    background-color: cornflowerblue;
    position: relative;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    margin-top: -2px;
    margin-bottom: -6px;
    border: 1px dodgerblue solid;
}

    .topNavCollapser span {
        margin-left: 37%;
        top: -1px;
        position: absolute;
        font-size: x-small;
        color: white;
    }

.touchWord {
    border: 1px dotted red;
    font-size: small;
    padding: 3px 2px;
    cursor: pointer;
    margin: 3px;
    background-color: pink;
    border-radius: 10px;
    color: darkolivegreen;
}

.addWord {
    color: green;
    cursor: pointer;
    padding-left: 5px;
}

.colorPickerGroup {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.iterativeContainerOuter {
    border: yellow 1px solid;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 9px;
    background-color: darkgray;
}

    .iterativeContainerOuter a.removeRow {
        color: red;
        border: none;
        background-color: inherit;
        float: left;
        position: relative;
        left: 5px;
        margin: 0 -5px 0 0;
    }

.iterativeContainer .form-group {
    padding: 10px 0 0 0;
    border-radius: 9px;
    margin: 1px 15px;
    flex: 0 0 auto;
    max-width: 97%;
    max-height: 65px;
}

.iterativeContainer {
    border: dodgerblue 1px dotted;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 9px;
}

    .iterativeContainer .addRowContainer {
        margin-top: 5px;
        width: 100%;
        flex: 0 0 100%;
    }

    .iterativeContainer .form-group {
        background-color: lightgrey;
    }

.form-group {
    padding: 20px 0 0 0;
    border-radius: 9px;
    margin: 9px 15px 9px 15px;
    flex: 0 0 auto;
    max-width: 97%;
}

    .form-group input,
    .form-group select {
        min-width: 125px;
    }

    .form-group a.removeRow {
        color: red;
        border: none;
        background-color: inherit;
        float: left;
        position: relative;
        top: -7px;
        left: 5px;
        margin: 0 -5px 0 0;
    }

    .form-group .row {
        margin: 9px 15px 9px 50px;
        padding: 15px 0 15px 0;
    }

    .form-group > div, .searchCriteria div div {
        margin: 5px 5px 15px 5px;
        width: unset;
        min-width: 18%;
        min-height: 50px;
        padding-right: 1px;
        padding-left: 15px;
        position: relative;
        float: left;
    }

.descriptiveSection {
    background-color: white;
    color: black;
    border-radius: 9px;
    max-width: 60%;
    padding: 15px;
    text-align: center;
    margin: 15px auto 15px auto;
}

    .descriptiveSection p {
        text-align: left;
    }

.descriptiveContainer {
    background-color: lightgrey;
    color: black;
    border-radius: 9px;
    max-width: 60%;
    padding: 15px;
    text-align: center;
    margin: 15px auto 15px auto;
    border: 1px solid darkgray;
}

    .descriptiveContainer hr {
        margin-left: 25px;
        margin-right: 25px;
        border-color: black;
    }

    .descriptiveContainer .helpItem {
        border: 2px solid darkgray;
    }

.helpItem {
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    flex: 1 1 100%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px 2px lightgrey;
}

    .helpItem hr {
        margin-left: 25px;
        margin-right: 25px;
    }

.itemsTable {
    display: flex;
    flex-wrap: wrap;
}

    .itemsTable .itemsTableSidebar {
        flex: 0 0 20%;
    }

    .itemsTable .itemsTableList {
        flex: 1 1 80%;
        padding: 5px;
        flex-wrap: wrap;
        display: flex;
    }

.leaderboardTable {
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 5px;
    flex: 0 1 auto;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px 2px lightgrey;
    width: 50%;
    margin: auto;
}

    .leaderboardTable div {
        margin: auto;
        min-width: 50%;
        width: fit-content;
    }

        .leaderboardTable div:nth-child(even) {
            background-color: lightgray;
        }

    .leaderboardTable span:first-of-type {
        font-weight: 600;
    }

    .leaderboardTable span:last-of-type {
        float: right;
    }


.entityDataInfoCard {
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 5px;
    margin: 10px;
    flex: 0 1 auto;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px 2px lightgrey;
}

    .entityDataInfoCard h4 {
        font-weight: 700;
        text-align: center;
    }

    .entityDataInfoCard div {
        margin: auto;
        min-width: 200px;
        width: fit-content;
    }

    .entityDataInfoCard span:first-of-type {
        font-weight: 600;
    }

    .entityDataInfoCard span:last-of-type {
        float: right;
    }

.tooltip-inner .helpItem {
    margin: 0;
}

    .tooltip-inner .helpItem hr {
        margin-left: 10px;
        margin-right: 10px;
    }

    .tooltip-inner .helpItem h4 {
        margin-bottom: 0px;
    }

.sideBarFilter {
    color: black;
    border-radius: 9px;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

    .sideBarFilter .row {
        margin: 0 auto;
        padding-bottom: 15px;
    }

.informationalGroup {
    padding: 15px;
}

    .informationalGroup h4 {
        margin: 5px 0;
        text-decoration: underline;
        font-weight: 600;
    }


.affectRangeContainer {
    margin: 0 0 0 15px;
    background-color: black;
    width: 29%;
    padding: 15px;
    line-height: 0;
    font-size: 0;
}

    .affectRangeContainer .row {
        width: 100%;
        display: inline-flex;
    }

.affectRangeNode {
    background-color: gray;
}

.tutorialContainer {
    background-color: black;
    opacity: .75;
    position: absolute;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    color: black;
    border-radius: 9px;
    border: white 2px solid;
}

.tutorialOverlayTip {
    color: yellow;
    z-index: 1001;
    margin: auto;
    flex: unset !important;
}

.tutorialModal {
    margin: auto;
    background-color: white;
    width: 50%;
    height: 50%;
    opacity: 1;
    z-index: 9999;
    text-align: center;
    border-radius: 9px;
    border: white 2px solid;
    box-shadow: 0 0 0 3px slategrey;
}

.archive {
    color: forestgreen;
    font-size: 10px;
    font-style: italic;
    z-index: 101;
    margin-left: 5px;
}

    .archive span {
        font-weight: 700;
        font-size: 12px;
    }

.archiveApply {
    font-size: 11px;
    color: forestgreen;
    cursor: pointer;
}

.breadcrumb .glyphicon-chevron-right {
    font-size: xx-small;
    padding: 0 3px 0 3px;
    top: 0;
}

.liveProcess {
    display: inline-flex;
    flex-wrap: wrap;
}

    .liveProcess .liveControls {
        padding: 5px;
        margin: 10px;
        border: 5px solid green;
        background: green;
        border-radius: 15px;
    }

.liveControls.go {
    background-color: green;
    border-color: green;
}

.liveControls.stop {
    background-color: red;
    border-color: red;
}

.template {
    box-shadow: 0px 1px 3px 0px cornflowerblue;
    padding: 2px;
    margin: 2px;
}

.listTable {
    display: flex;
    flex-wrap: wrap;
}

.listSection {
    flex: 1 1 100%;
    display: flex;
    margin: 5px 0 5px 0;
    flex-wrap: wrap;
}

.listHeader {
    border-bottom: 1px solid cornflowerblue;
    color: forestgreen;
}

.listContent {
    color: black;
}

.listRow:nth-child(even) {
    background-color: whitesmoke;
}

.listContent .listRow {
    display: flex;
    flex: 1 1 100%;
    margin: 3px;
    height: fit-content;
}

.listItem {
    flex: 1 0;
    list-style: none;
    margin: 0 3px 0 3px;
    padding: 2px;
}

    .listItem input[type=radio] {
        margin: 3px 15px 0px 15px;
    }

.significantFields {
    background-color: white;
    color: black;
    padding: 5px !important;
    border: 1px solid lightgray;
    flex: 0 1 auto;
}

    .significantFields div {
        margin: 5px;
        min-width: 200px;
    }

        .significantFields div span:first-of-type {
            font-weight: 600;
        }

        .significantFields div span:last-of-type {
            float: right;
        }

.listPagination {
    display: inline-flex;
    float: right;
}

    .listPagination div {
        padding-left: 0 !important;
        min-width: unset !important;
    }

    .listPagination button {
        border-radius: 15px;
        background-color: cornflowerblue;
        padding: 1px 5px;
        color: white;
        height: 30px;
    }

        .listPagination button.pagingArrow {
            height: 20px;
            vertical-align: middle;
            line-height: 1;
        }
