body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.addData {
    color: green;
}

.editData {
    color: yellow;
}

.asciiMap {
    font-family: Courier New, Courier, monospace; 
    font-size: large;
    letter-spacing: 7px;
    padding: 15px; 
    min-width: 200px; 
    min-height: 200px;
    text-align: center; 
    background-color: black;
}

.twoDModel {
    font-family: Courier New, Courier, monospace; 
    font-size: large;
    letter-spacing: 7px;
    padding: 15px; 
    width: 400px; 
    height: 400px;
    text-align: center; 
    background-color: black;
    color: white;
    overflow: hidden;
    border: 5px solid grey;
}

button[type=submit].removeData {
    color: red; 
    border: none; 
    padding: 0; 
    background-color: inherit;
}