@using NetMud.Models

@model NetMud.Models.Admin.AddEditDimensionalModelDataViewModel

<div class="row">
    <div>
        @Html.DescriptiveLabelFor(m => m.ModelPlaneNames, new { @class = "col-sm-1 col-form-label" })
        @Html.TextBoxFor(m => m.ModelPlaneNames, new { @class = "col-sm-1" })
    </div>
    <div class="col-md-offset-0 col-md-10 dimModelPlane">
        @Html.DescriptiveLabelFor(m => m.CoordinateDamageTypes, new { @class = "col-sm-1 col-form-label" })

        @for (var i = 1; i <= 11; i++)
        {
            <div class="dimModelNode" data-value="0"><input type="hidden" id="CoordinateDamageTypes" name="CoordinateDamageTypes" class="CoordinateDamageTypes" value="0" /><span id="nodeValue" class="nodeValue">0</span></div>
        }
    </div>
</div>