@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("About", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <h4>A .net MUD architecture advanced web MUD</h4>
    <p>
        You can visit and participate in the design process on the <a href="https://reddit.com/r/twinmud">subreddit</a> and the the coding process at the
        <a href="https://www.github.com/swiftausterity/warrens">MIT licensed open source github repository</a>.
    </p>

    <p>
        The warrens platform can be found at its <a href="https://www.github.com/swiftausterity/warrens">github repository</a> and
        the live sandbox for warrens can be experienced on its <a href="https://netmud.swiftausterity.com/">website</a>.
    </p>
</div>

<div class="informationalGroup">
    <h4>Current Phase: Aleph</h4>
    <p>
    </p>
</div>

<div class="informationalGroup">
    <h4>Acknowledgements</h4>
    <p>Many of the icons used are shamelessly taken from and &copy; <a href="http://www.toicon.com/" target="_blank">The Artificial</a>.</p>
</div>