@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("About", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <h4>A .net architecture translation and descriptive output API</h4>
    <p>
        The warrens platform can be found at its <a href="https://www.github.com/swiftausterity/warrens">github repository</a> and
        the live sandbox for base warrens can be experienced on its <a href="https://netmud.swiftausterity.com/">website</a>.
    </p>
</div>

<div class="informationalGroup">
    <h4>Current Phase: Aleph</h4>
    <p>
    </p>
</div>

<div class="informationalGroup">
    <h4>Acknowledgements</h4>
    <p>The Lexica makes heavy use of the data of WordNet: <a href="https://wordnet.princeton.edu/">Princeton University "About WordNet." WordNet. Princeton University. 2010.</a> and <a href="https://dictionaryapi.com/">Mirriam-Webster's Collegiate® Dictionary and Collegiate® Thesaurus APIs.</a></p>
</div>
