@{
    ViewBag.Title = "Contact";
}

<address>
    <strong>Questions:</strong>   <a href="mailto:netmud@swiftausterity.com">netmud@swiftausterity.com</a><br />
</address>

<p>
    <span>Or find me hanging out in <a href="https://mudcoders.slack.com/">The Guild Slack</a></span>
</p>