@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3></h3>

<address>
    <strong>Questions:</strong>   <a href="mailto:swiftausterity@swiftausterity.com">swiftausterity@swiftausterity.com</a><br />
</address>