@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Contact Me", new string[] { "Home" }, new string[] { "/" });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="informationalGroup">
    <p>
        <strong>Questions: </strong><a href="mailto:netmud@swiftausterity.com">netmud@swiftausterity.com</a><br />
    </p>

    <p>
        <span>Or find me hanging out in <a href="https://mudcoders.slack.com/">The Guild Slack</a></span>
    </p>
</div>