@using NetMud.Models;
@{
    var gameName = "Zeno's Fight Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel

<div style="width: 100%;">
    <div class="descriptiveSection">
        <h2>@gameName</h2>
        <h3>The prototype testbed for Warrens: Vanta Isolation</h3>
        <h4>Current Phase: GameJam</h4>
        <p>
            You're in a 20m long hallway. There is an exit. You must reach the exit to win but you can only cross half of the remaining distance at a time. Use the Forward command to move.
        </p>
        <p>
            There's also other players trying to get to the exit and you can <span style="font-weight: 700">fight</span> them but you can only be hurt for half of your remaining life per hit.
        </p>
        <p>Can you reach the end? Can anyone be killed? Is there cake beyond the exit? It's all very <a href="https://www.iep.utm.edu/zeno-par/">philosophical</a>.</p>
    </div>
    @if (Model.LatestPatchNotes != null)
    {
        <div class="descriptiveContainer">
            <h2>Latest Patch Notes</h2>
            <hr />
            @Html.DisplayFor(m => m.LatestPatchNotes)
        </div>
    }

    @if (Model.LatestNews.Count() > 0)
    {
        <div class="descriptiveContainer">
            <h2>Latest News</h2>
            <hr />
            @Html.DisplayFor(m => m.LatestNews)
        </div>
    }
</div>

