@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TwinMUD</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make an account</h2>
        <p>
            Register an account to get started.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make characters</h2>
        <p>Once you've registered an account, make some characters to begin playing.</p>
    </div>
    <div class="col-md-4">
        <h2>Something</h2>
        <p>This design is temporary so who cares.</p>
    </div>
</div>