@using NetMud.Models;
@{
    var gameName = "Warrens: Prototype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel

<div style="width: 100%;">
    <div class="descriptiveSection">
        <h2>@gameName</h2>
        <h3>The prototype testbed for Warrens: White Sand</h3>
        <h4>Current Phase: Aleph</h4>
        <p>Play with Swords/</p>
    </div>
    @if (Model.LatestPatchNotes != null)
    {
        <div class="descriptiveContainer">
            <h2>Latest Patch Notes</h2>
            <hr />
            @Html.DisplayFor(m => m.LatestPatchNotes)
        </div>
    }

    @if (Model.LatestNews.Count() > 0)
    {
        <div class="descriptiveContainer">
            <h2>Latest News</h2>
            <hr />
            @Html.DisplayFor(m => m.LatestNews)
        </div>
    }
</div>

