@{
    ViewBag.Title = "netMUD - Home";
}

<div class="jumbotron">
    <h1>netMUD: A .net MUD architecture</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make an account</h2>
        <p>
            Register an account to get started.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make characters</h2>
        <p>Once you've registered an account, make some characters.</p>
    </div>
    <div class="col-md-4">
        <h2>Hit up the client</h2>
        <p>Once you have a character made and select it on the top nav hit the test client link to start playing!</p>
    </div>
</div>