@model NetMud.Models.Admin.RoomMapViewModel

<div>
    <pre id="expandedModelContainer" class="asciiMap" data-id="@Model.Here.Id"></pre>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            var $exModelContainer = $("#expandedModelContainer");
            var dataId = $exModelContainer.attr("data-id");

            $.get("/api/AdminDataApi/RenderRoomForEditWithRadius/" + dataId + '/5', function (data) {
                $exModelContainer.html(data);
            });
        });
    </script>
}