@model NetMud.Models.Admin.ManageGenderDataViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Genders", new string[] { "Dashboard" }, new string[] { "/GameAdmin" });

    var linkText = Html.ActionLink("99999999", "Edit", new { id = 99999999 }).ToString();
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("Id", obj => linkText.Replace("99999999", obj.Id.ToString()));
    tableColumns.Add("Name", obj => obj.FitnessProblems ? string.Format("<span style='color:red;' title='{0}'>{1}</span>", String.Join(", ", obj.FitnessReport()), obj.Name) : obj.Name);
    tableColumns.Add("Base", obj => obj.Base);
    tableColumns.Add("Collective", obj => obj.Collective);
    tableColumns.Add("Possessive", obj => obj.Possessive);
    tableColumns.Add("Adult", obj => obj.Adult);
    tableColumns.Add("Child", obj => obj.Child);
    tableColumns.Add("State", obj => obj.State.ToString());
}
    
@Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { EntityTypeName = "Gender", Columns = tableColumns, Values = Model.CurrentPageOfItems, PagingModel = Model })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}