@using NetMud.DataStructure.Linguistic
@model IDictataPhrase
@{
    bool disabled = ViewData["disabled"] != null;
    var cssClass = ViewData["cssClass"] == null ? "form-control" : ViewData["cssClass"];
    var htmlAttributes = new Dictionary<string, object>() { { "id", ViewData.ModelMetadata.PropertyName }, { "class", cssClass }, { "placeholder", ViewData.ModelMetadata.DisplayName }, { "title", ViewData.ModelMetadata.DisplayName } };
    var archivedValue = ViewData["archivedValue"] == null ? "" : ViewData["archivedValue"].ToString();
    var strippedNaked = ViewData["strippedNaked"] != null;

    if (ViewData["disabled"] != null)
    {
        htmlAttributes.Add("readonly", true);
    }

    if (ViewData["htmlAttributes"] != null)
    {
        var additionalAttribs = ViewData["htmlAttributes"] as IDictionary<string, object>;
        if (additionalAttribs != null)
        {
            foreach (var kvp in additionalAttribs)
            {
                if (htmlAttributes.Any(att => att.Key == kvp.Key))
                {
                    htmlAttributes[kvp.Key] = kvp.Value;
                }
                else
                {
                    htmlAttributes.Add(kvp.Key, kvp.Value);
                }
            }
        }
    }

    var selectedItemOverride = ViewData["selectedItem"];

    if (selectedItemOverride != null)
    {
        ViewData.Model = (IDictataPhrase)selectedItemOverride;
    }

    var itemList = ((IEnumerable<IDictataPhrase>)ViewData["validItems"]).Select(item => new SelectListItem() { Text = string.Format("({0}) {1}", item.Language.GoogleLanguageCode, item.Name), Value = item.UniqueKey, Selected = item.UniqueKey == Model.UniqueKey });
}
<div class="accordionWrapper">
    <h5>@Model.Name</h5>
    <div>
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().parent().parent().remove(); return false;">X</a>
            <div>
                @Html.DropDownList("", itemList, optionLabel: "Select One", htmlAttributes: htmlAttributes)
            </div>
        </div>
    </div>
</div>