@using NetMud.DataStructure.Linguistic

@model DictataPhraseRuleElement

<div class="form-group row">
    @Html.EditorFor(m => m.WordType, new { disabled = "disabled" })
    @Html.EditorFor(m => m.Primary)
    @Html.EditorFor(m => m.MinimumNumber)
</div>
