@using NetMud.Data.Architectural.EntityBase
@using NetMud.DataStructure.Architectural.EntityBase
@using NetMud.Utility

@model DimensionalModelData

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(e => e.Name)
    @Html.EditorFor(e => e.ModelType)
</div>
<h4>Physical Model</h4>
<hr />

<div class="form-group row" style="display: inline-flex;">
    <label class="col-sm-2 col-form-label">Type Selector</label>
    <div class="col-sm-10">
        @Html.DropDownList("PaintbrushSymbol", Enum.GetNames(typeof(DamageType)).Select(rl =>
               new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                            , htmlAttributes: new { id = "PaintbrushSymbol", @class = "form-control" })
        <span style="padding: 15px; font-style: italic;">Hold Shift to paint or click on nodes individually.</span>
    </div>
    <a href="#" class="btn" id="clearFields" style="color: red;">Clear Fields</a>
</div>

@Html.EditorFor(e => e.ModelPlanes)

<script>
    $(document).ready(function () {
        $(document).keydown(function (e) {
            if (e.keyCode === 16) {
                $('div.dimModelNode').on('mouseenter', function () { paint($(this)) });
            }
        }).keyup(function (e) {
            if (e.keyCode === 16) {
                $('div.dimModelNode').off('mouseenter');
            }
        });

        $('div.dimModelNode').click(function () { paint($(this)) });

        $('#clearFields').click(function () {
            $('.dimModelNode').attr('data-value', '0');
            $('.CoordinateDamageTypes').val('0');
            $('.nodeValue').text('0');

            return false;
        });
    });

    function paint(nodeCell) {
        var symbol = $('#PaintbrushSymbol option:selected').text().substr(0, 1);
        var value = $('#PaintbrushSymbol option:selected').val();

        nodeCell.children('input').val(value);
        nodeCell.children('span').text(symbol);
        nodeCell.attr('data-value', value);
    }
</script>
