@using NetMud.Data.Architectural.EntityBase

@model DimensionalModelPlane

<div class="row">
    <div>
        @Html.LabelFor(m => m.TagName, new { @class = "col-sm-1 col-form-label dim-model-label" })
        @Html.TextBoxFor(m => m.TagName, new { @class = "col-sm-1 dim-model-name" })
        @Html.HiddenFor(m => m.YAxis, new { @value = "" })
    </div>
    <div class="col-md-offset-0 col-md-10 dimModelPlane">
        @Html.EditorFor(m => m.ModelNodes)
    </div>
</div>