@model string

@{
    double columnCount = ViewData["columnCount"] == null ? 1 : (int)ViewData["columnCount"];
    var columnLabelValue = columnCount > 2 ? 1 : 2;
    var columnInputValue = (int)Math.Round(10 / columnCount);
    var cssClass = ViewData["cssClass"] == null ? "form-control" : ViewData["cssClass"];
}

@Html.DescriptiveLabelFor(m => m, new { @class = String.Format("col-sm-{0} col-form-label", columnLabelValue) })
<div class="col-sm-@columnInputValue">
    @Html.TextBoxFor(m => m, new { @class = cssClass })
    @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
</div>


