@model HttpPostedFileBase

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <input type="file" name="ModelFile" id="ModelFile" class="form-control" style="border: none;" />
    </div>
</div>


