@using NetMud.Data.Zone

@model FloraResourceSpawn

@{
    var titleName = Model.Resource == null ? "New" : Model.Resource.Name;
}

<div class="accordionWrapper">
    <h5>@titleName</h5>
    <div>
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().parent().parent().remove(); return false;">X</a>
            @Html.EditorFor(m => m.Resource, new { validItems = ViewData["FloraNaturalResources"] })
            @Html.EditorFor(m => m.RateFactor)
        </div>
    </div>
</div>