@using NetMud.Data.Administrative
@model Help
@{
    var archivedTemplate = ViewData["ArchiveTemplate"] as Help;
}
<div class="form-group row">
    @Html.EditorFor(m => m.Name, new { archivedValue = archivedTemplate?.Name ?? "" })
</div>
<h4>Body</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.HelpText, new { archivedValue = archivedTemplate?.HelpText.ToString() ?? "" })
</div>

