@using NetMud.DataStructure.Action

@model IActionCriteria

@{
    var targetList = new Dictionary<string, string>();
    targetList.Add(ActionTarget.NPC.ToString(), ActionTarget.NPC.ToString());
}

<div class="form-group row">
    @Html.EditorFor(m => m.Target, new { validItems = targetList, selectedItem = ActionTarget.NPC })
    @Html.EditorFor(m => m.AffectsMemberId, "KeyedTemplateList", new { validItems = ViewData["ValidNPCDatas"] })
    @Html.EditorFor(m => m.Quality)
    @Html.EditorFor(m => m.ValueRange)
</div>