@using NetMud.DataStructure.Gaia

@model IChronology

<h4>Chronology</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.StartingYear)
    @Html.EditorFor(m => m.HoursPerDay)
    @Html.EditorFor(m => m.DaysPerMonth)
</div>

<h4>Month Names</h4>
@Html.EditorFor(m => m.Months, new { tagList = string.Join(",", Model.Months) })