@using NetMud.Data.Architectural.EntityBase
@using NetMud.DataStructure.Inanimate

@model EntityContainerData<IInanimate>

@{
    var removeName = "remove" + ViewData.ModelMetadata.PropertyName + "Row";
}

<div class="form-group row">
    <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().remove(); return false;">X</a>
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.CapacityVolume)
    @Html.EditorFor(m => m.CapacityWeight)
</div>