@using NetMud.Data.Linguistic

@model Lexica

<h4>Lexica</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Phrase)
    @Html.EditorFor(m => m.Role)
    @Html.EditorFor(m => m.Type)
</div>

<h4>Modifiers</h4>
@Html.EditorFor(m => m.Modifiers)