@using NetMud.Models
@using NetMud.DataStructure.Architectural.EntityBase

@model HashSet<IMaterialComposition>

@{
    var currentCount = Model.Count();
    var rowsName = ViewData.ModelMetadata.PropertyName + "Rows";
}
<div id="@rowsName" class="iterativeContainer">
    <div class="addRowContainer">
        <div class="col-sm-1">
            @Html.DescriptionFor(m => m)
            <a href="#" class="addRow btn" onclick="javascript:  $('#@rowsName').append(newMaterialComposition); return false;"><span class="addWord">Add Row</span></a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        @Html.EditorForMany(m => m, null, 0, "MaterialComposition")
    }
</div>

<script type="text/javascript">
    var newMaterialComposition = decodeHtml('@Html.EmptyEditorForMany(m => m, null, currentCount, "MaterialComposition")');
</script>