@using NetMud.Data.Architectural.EntityBase

@model ModelPartComposition

@{
    //No removal of parts
}

<div class="form-group row">
    <div class="col-sm-10">
        @Html.EditorFor(m => m.PartName)
        @Html.EditorFor(m => m.Material, new { validItems = ViewData["ValidMaterials"] })
    </div>
</div>