@using NetMud.Models
@using NetMud.DataStructure.Architectural.EntityBase

@model HashSet<IModelPartComposition>

@{
    var currentCount = Model.Count();
    var rowsName = ViewData.ModelMetadata.PropertyName + "Rows";
}
<div id="@rowsName" class="iterativeContainer">
    <div class="addRowContainer">
        <div>
            @Html.DescriptionFor(m => m)
            <!-- no add button here for specific reasons. This list is statically maintained. -->
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        @Html.EditorForMany(m => m, null, 0, "ModelPartComposition")
    }
</div>

<script type="text/javascript">
    var newModelComposition = decodeHtml('@Html.EmptyEditorForMany(m => m, null, currentCount, "ModelPartComposition")');
</script>