@using NetMud.Models

@model string

@Html.DescriptiveLabelFor(m => m, new { @class = "col-sm-1 col-form-label" })
<div class="col-sm-10">
    @Html.TextAreaFor(m => m, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
</div>
