@model string

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
    </div>
</div>
