@using NetMud.Data.Players

@model PlayerTemplate

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @if (User.IsInRole("Admin"))
    {
        @Html.EditorFor(m => m.GamePermissionsRank)
    }
</div>