@using NetMud.Data.Room

@model RoomTemplate

<h4>Parent Locale</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.ParentLocation)
</div>

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Medium, new { validItems = ViewData["ValidMaterials"] })
</div>

<h4>Dimensional Model</h4>
@Html.EditorFor(m => m.Model)
