@model HttpPostedFileBase

@{
    double columnCount = ViewData["columnCount"] == null ? 1 : (int)ViewData["columnCount"];
    bool disabled = ViewData["disabled"] != null;
    var columnLabelValue = columnCount > 2 ? 1 : 2;
    var columnInputValue = (int)Math.Round(10 / columnCount);
    var cssClass = ViewData["cssClass"] == null ? "form-control" : ViewData["cssClass"];
}

@Html.DescriptiveLabelFor(m => m, new { @class = String.Format("col-sm-{0} col-form-label", columnLabelValue) })
<div class="col-sm-@columnInputValue">
    <input type="file" name="ModelFile" id="ModelFile" class="@cssClass" style="border: none;" />
</div>


