@model HttpPostedFileBase

@Html.LabelFor(m => m, new { @class = "control-label" })
<div>
    <input type="file" name="ModelFile" id="ModelFile" class="form-control" style="border: none;" />
</div>


